@model Abc.MvcWebUI.Models.OrderDetailModel
@{
    ViewBag.Title = "Details";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Detail of Transaction</h2>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">Order ID</dt>
                <dd class="col-sm-9">@Model.OrderId</dd>

                <dt class="col-sm-3">Transaction Number</dt>
                <dd class="col-sm-9">@Model.OrderNumber</dd>

                <dt class="col-sm-3">Transaction Date</dt>
                <dd class="col-sm-9">@Model.OrderDate</dd>

                <dt class="col-sm-3">Name</dt>
                <dd class="col-sm-9">@Model.DeliverName</dd>

                <dt class="col-sm-3">Total/dt>
                <dd class="col-sm-9">@Model.Total</dd>

                <dt class="col-sm-3">City to Pickup</dt>
                <dd class="col-sm-9">@Model.PickCity</dd>

                <dt class="col-sm-3">Date to Pickup</dt>
                <dd class="col-sm-9">@Model.PickUpTime</dd>

                <dt class="col-sm-3">City to Leave</dt>
                <dd class="col-sm-9">@Model.LeaveCity</dd>

                <dt class="col-sm-3">Date to Leave</dt>
                <dd class="col-sm-9">@Model.LeaveTime</dd>

             


                <dt class="col-sm-3">Information of Car</dt>
                <dd class="col-sm-9">
                    <table>
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Model of Car</th>
                                <th>Days Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.OrderLineDetails)
                            {
                                <tr>
                                    <td>
                                       <img src="~/Upload/@item.Image" width="70"/> 
                                    </td>
                                    <td>
                                         @item.ProductName
                                    </td>
                                    <td>@item.Price</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </dd>

            </dl>
        </div>
    </div>
</div>

