@model IEnumerable<Abc.MvcWebUI.Models.UserOrder>
@{
    ViewBag.Title = "Reserv";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Reserv</h2>



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2> Transaction Information </h2>
            <hr />
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Transaction</th>
                        <th>Satutus</th>
                        <th>Total</th>
                        <th>Order Number</th>
                        <th>OrderDate</th>

                        <th>City to Pickup</th>
                        <th>City to  Leave</th>
                        <th>Date to Pickup</th>
                        <th>Date to Leave</th>

                      
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.TransactionName</td>
                        <td>@item.OrderState</td>
                        <td>@item.Total</td>
                        <td>@item.OrderNumber</td>
                        <td>@item.OrderDate</td>

                        <td>@item.PickCity</td>
                        <td>@item.LeaveCity</td>
                        <td>@item.PickUpTime</td>
                        <td>@item.LeaveTime</td>

                        
                    </tr>
                    }
                    
                </tbody>
            </table>
        </div>
    </div>
</div>